html {


  scroll-behavior: smooth;


}




* {

  box-sizing: border-box;

  /*
    scrollbar-color: white black;
    scrollbar-width:auto;
    */
}

body {

  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  transform: background-color 1s;
  box-sizing: 100%;




}

a {

  text-decoration: none;
  color: inherit;
  list-style: none;


}


/* TOGGLE PARA CAMBIAR EL MODO OSCURO*/




.toggles {

  transition: opacity 0.6s;



}



.camara {

  height: 15px;
  width: 15px;
  animation: heartbeat 1s infinite;
  top: 5px;
  display: flex;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 50px;



}


.corazon {

  height: 56px;
  width: 56px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  opacity: 70%;
  animation: heartbeat 1s infinite;
  padding: 5px;






}








@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 100%;
  }

  50% {
    transform: scale(1.2);
    opacity: 70%;
  }

  100% {
    transform: scale(1);
    opacity: 100%;
  }
}






#sun {


  display: none;
  color: white;


}




















#imagenLogo {

  padding: 10px;
  width: 80px;
  height: 60px;

}








footer {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 0;

  /* tengo que poner el footer en el index como relative y en el 
  resto de html como absolute */



}



.footer-contacto {


  position: absolute;
  bottom: 0;
  ;





}









.f2 {


  position: relative;


}




.lista {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0;







}



li {

  list-style: none;
}














h3 {

  display: inline;
  padding-inline: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.sinBody {

  display: none;

}



img {

  size: 100%;
  width: 100%;
}

.row {
  margin-left: 7%;
  margin-right: 7%;

  position: relative;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  transition: transform 1s;
  height: 100%;
  /* Agrega una altura fija al elemento .row */

}

.submenu {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -50px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 0;
  width: max-content;
  border-radius: 1rem;
  left: -165px;
  transform-origin: top;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 1s;




}

.submenu.visible {
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  display: flex;
  flex-direction: row;
  /* Cambiado a dirección horizontal */
  justify-content: flex-start;
  /* Alineación hacia la izquierda */
  padding: 0;
  /* Eliminado el relleno */
}

.submenu li {
  margin-right: 10px;
  /* Margen derecho para separar las pestañas */
  list-style: none;
  /* Eliminado los estilos de viñetas */
}



.submenu.visible {
  display: flex;
  /* Muestra el submenú cuando tiene la clase "visible" */
  /* ...otras propiedades... */
}







.column {

  flex: 25%;
  padding: 5px;

}

.teknofilos {

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;


}



.column img {

  margin-top: 5px;
  size: 100%;
  transition: opacity 0.6s ease;
  padding: 4px;
  /*
    transition: transform 0.5s ease;
    */
  cursor: pointer;
  cursor: hand;


}


#overlayH img {


  size: 100%;


}



#overlayV img {


  size: 100%;

}


.column img:hover {

  /*transform: scale(1.035);*/
  opacity: 0.6;


}






@keyframes desplegar {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes replegar {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 0.1;
  }

  30% {
    opacity: 0.0;
  }

  40% {
    opacity: 0.0;
  }

  50% {
    opacity: 0.0;
  }

  60% {
    opacity: 0.0;
  }

  70% {
    opacity: 0.0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
}







@keyframes abrirOverlay {
  0% {
    opacity: 0;
  }

  10% {

    opacity: 0.1;

  }

  20% {

    opacity: 0.2;

  }

  30% {

    opacity: 0.3;

  }

  40% {

    opacity: 0.4;

  }

  50% {
    opacity: 0.5;
  }

  60% {

    opacity: 0.6;



  }

  70% {

    opacity: 0.7;



  }

  80% {

    opacity: 0.8;



  }

  90% {

    opacity: 0.9;



  }

  100% {
    opacity: 1;
  }
}




@keyframes cerrarOverlay {
  0% {
    opacity: 1;
  }

  10% {

    opacity: 0.9;

  }

  20% {

    opacity: 0.8;

  }

  30% {

    opacity: 0.7;

  }

  40% {

    opacity: 0.6;

  }

  50% {
    opacity: 0.5;
  }

  60% {

    opacity: 0.4;


  }

  70% {

    opacity: 0.3;



  }

  80% {

    opacity: 0.2;



  }

  90% {

    opacity: 0.1;



  }

  100% {
    opacity: 0;
  }
}






























.listaMenuMoviles {


  padding: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: opacity 0.5s;
  display: none;





}




.submovil {

  transition: opacity 0.5s;
  margin-top: 5px;
  margin-left: 7%;
  margin-right: 7%;
  font-size: large;
  font-size: 22px;
  font-family: Futura;




}



.submovil:hover {


  cursor: pointer;
  opacity: 30%;






}


.submovil:hover {


  cursor: pointer;



}



.subsub {

  background-color: white;
  padding: 5px;
  margin-left: 7%;
  margin-right: 7%;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1em;
  transition: background-color 0.5s, opacity 0.5s;
  animation: desplegar 0.8s ease;
  font-family: Avenir;
  





}


.subsub:hover {

  cursor: pointer;
  opacity: 30%;



}





















#submenuSocial {


  display: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-radius: 1em;
  font-size: small;
  font-weight: 100;


}







/*
@media (max-width: 3000px){


    .column{

        flex: 50%
    }

}*/


#overlayH {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  display: none;
  animation: abrirOverlay 0.5s;

}



#overlayV {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  /*background-color: rgba(255, 255, 255, 0.7); asi estaba antes*/
  display: none;
  animation: abrirOverlay 0.5s;

}






#overlayImageH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  max-height: 75%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}


#overlayImageV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25%;
  max-height: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  scale: 1.1;
  cursor: pointer;
  transition: transform 0.5s ease;
  transition: opacity 0.5s, scale 0.5s, border-bottom 0.5s;
  z-index: 9999;

}

#closeButton:hover {



  opacity: 0.5;





}





/*
  @font-face {
    font-family: nueva;
    src: url(BodoniflfBolditalic-K7dD.ttf);
  }

*/

.m {

  font-family: Futura;
  font-size: large;

  text-decoration: none;
  color: black;
  padding-inline: 40px;
  transition: transform 0.5s ease;

}




.m:hover {

  transform: scale(1.2);


}


li {


  transition: transform 0.5s ease;

}





span {

  font-size: xx-large;
  font-weight: bold;


}


.logo {

  height: 140px;
  width: 170px;
  margin-bottom: 20px;
  position: relative;



}


.imagenLogo {

  display: flex;
  position: absolute;
  top: 10px;
  left: 20px;
  height: 120px;
  width: 130px;






}


/*

  .m {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  }
  
.m:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}
*/



.subir {

  color: white;
  position: relative;
  left: 25px;
  bottom: 30px;
  margin-bottom: 5px;
  background-color: rgb(120, 122, 122);
  font-weight: bold;
  justify-content: center;
  text-align: center;
  border-radius: none;
  height: 50px;
  padding: 20px;
  font-size: 50px;
  text-decoration: none;

}


.subir:hover {

  background-color: darkgrey;

}


/* FORMULARIO */

.formulario-container {

  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1rem;
  font-weight: bold;









}


.d {

  position: absolute;

}

input {

  margin: 5px;
  outline: none;





}


#texto {


  width: 400px;
  height: 100px;







}


.tFormulario {

  color: rgb(106, 106, 106);
  border-radius: 1rem;



}










textarea {

  outline: none;

}








.irArriba {


  height: 50px;
  width: 50px;
  margin: 10px;
  margin-top: 35px;
  color: gray;
  transition: opacity 0.4s;


}


.irArriba:hover {


  opacity: 60%;






}



@font-face {
  font-family: Satoshi;
  src: url(Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);

}

@font-face {
  font-family: ClashDisplay;
  src: url(ClashDisplay_Complete/Fonts/WEB/css/clash-display.css);

}


@font-face {
  font-family: Zodiak;
  src: url(Zodiak-Variable.ttf);
}



@font-face {
  font-family: Alpino;
  src: url(Alpino-Variable.ttf);
}



@font-face {
  font-family: Futura;
  src: url(fuentes/futura\ medium\ bt.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(fuentes/Avenir_Regular.ttf);
}





.list {

  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: large;
  font-family: Futura;
  font-weight: 500;
  gap: 25px;
  font-size: 22px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  left: -25px;

}











.link {


  text-decoration: none;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;


}




.linksub {


  font-family: Avenir;
  font-weight: lighter;
  font-size: 16px;
  opacity: 0.7;



}


.link::before,
.link::after {

  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.40s;


}



.link::before {

  top: -3px;




}





.link::after {

  bottom: -3px;

  transform-origin: right;




}


.link:hover {



  cursor: pointer;

}






.link:hover::before,
.link:hover::after,
.active::before,
.active::after {


  transform: scaleX(1);




}


.linksub:hover::before {
  transform: scaleX(0);
  /* Oculta la línea de arriba al hacer hover */

}

.linksub:hover::after {
  transform: scaleX(1);
  /* Muestra la línea de debajo al hacer hover */

}







.sublista1 {


  flex-direction: column;
  display: none;
  height: 60px;






}






/*animaciones*/







@media (max-width: 800px) {


  .column {

    flex: 50%
  }


  .column img {

    size: 50px;



  }



  #menuMoviles {

    display: none;

  }





}

/* ESTILOS PAGINA DE CONTACTO */




.container1 {
  display: flex;
}

.container2 {
  margin-top: -44px;
}





.text1 {

  font-family: Avenir;
  text-align: justify;
  font-size: 13px;
  margin-left: 50px;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image1 {
  margin-left: 60px;
  width: 34%;
  height: 70%;
  min-width: 20%;
}




.hid {


  display: none;

}



.main-contacto {

  justify-content: center;
  text-align: center;
  align-items: center;



}


.principal {


  position: absolute;

  top: -50px;


}



.principal>h1 {

  font-family: Futura;
  border-bottom: 1px solid black;
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;


}


.bottom-contacto {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;


}





.logo-contacto {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 120px;
  width: 130px;
  margin-bottom: 20px;
}


.icono {


  height: 35px;
  width: 35px;


  margin-bottom: 20px;
  margin: 10px;
  transition: opacity 0.5s;



}

.icono:hover {


  opacity: 0.5;



}






.iconos {


  display: flex;
  flex-direction: row;
  position: relative;
  top: -45px;




}




.cc-titulo {

  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;


}

.contacto-titulo {

  font-family: Futura;
  width: 350px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
}



.correo {

  font-family: Alpino;
  font-size: 18px;
  padding: 5px;
  font-weight: 600;
  transition: background-color 0.5s, color 0.5s, border 0.3s;



}


.correo:hover {


  cursor: copy;




}

.alerta-flotante {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  transition: opacity 0.3s ease-in-out;
  font-family: Avenir;
  opacity: 0;
}

.alerta-flotante.mostrar {
  opacity: 1;
}



.alerta-flotante:hover {



  cursor: default;
}


.fa-copy {

  opacity: 0.85;
  transition: opacity 0.2s, background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  border: 2px solid black;
  border-radius: 1cm;
  padding: 7px;




}


.fa-copy:hover {

  


  transform: rotate(90deg);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


.copy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.copy-button::before {
  content: "\f0c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.copy-button.copied {
  background-color: #4caf50;
  color: #fff;
}

.copy-button.copied::before {
  content: "\f00c";
}

.copy-button:hover {
  background-color: #ddd;
}






















/*-------------------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {







  .header1 {

    display: none;



  }


  .list {


    display: none;
  }

  .lista {


    display: none;

  }


  .listaMenuMoviles {

    display: block;



  }





  textarea {

    width: 50%;



  }


  #menuMoviles {

    display: block;
    margin-bottom: 0;

  }



  #overlayImageH {

    max-width: 90%;
    max-height: 100%;

  }


  #overlayImageV {

    max-width: 65%;
    max-height: 150%;


  }


  .corazon {


    height: 40px;
    width: 40px;






  }



  .camara {



    height: 10px;
    width: 10px;
    right: 35px;
    top: 35px;





  }


  .imagenLogo {


    height: 80px;
    width: 90px;




  }


  .logo-contacto {


    display: none;
  }





  .iconos {



    position: relative;
    bottom: 20%;



  }


  .principal {

    position: relative;
    top: 10px;

  }


  .container1 {


    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;



  }


  .text1 {

    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    width: 75%;
    margin-left: none;






  }


  .image1 {


    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 50%;
    width: 50%;

  }




  .icono {


    margin-bottom: none;


  }








}




@media (max-width: 900px) {




  .principal {

    position: relative;
    top: 10px;

  }


  .container1 {


    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;



  }

  .text1 {


    order: 2;

    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    width: 75%;
    margin-left: none;






  }


  .image1 {

    order: 1;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 10px;
    height: 60%;
    width: 60%;


  }






}